.login_content {
  background: linear-gradient(183.06deg, #ffffff 0%, #edf5fe 100%), #c4c4c4;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  .login_title {
    font-size: 144px;
    line-height: 160px;
    font-weight: 700;
    background: linear-gradient(83.04deg, #0452c8 0%, #4094f7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.login_form {
  background: linear-gradient(68.66deg, #d1e2f7 0%, #eef6fe 100%);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
