.input_block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 96%;
  .input_body {
    .input_txt {
      font-size: 14px;
      line-height: 24px;
      color: #252c32;
      font-weight: 600;
      margin: 0;
      margin-bottom: 4px;
    }
    .input {
      width: 100%;
      border: 1px solid #e5e9eb;
      border-radius: 6px;
      padding: 12px 8px;
      outline: none;
      &::placeholder {
        font-size: 14px;
        line-height: 24px;
        color: #6e8bb7;
      }
    }
  }
}
