.form {
  max-width: 612px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(110, 139, 183, 0.25);
  .form_header {
    padding: 16px 24px;
    border-bottom: 1px solid #e5e9eb;
    .form_txt {
      color: #303940;
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      margin: 0;
    }
  }
  .form_body {
    padding: 24px;
  }
}
