@import "/src/fonts/stylesheet.css";

:root {
  --primary-color: #5430d1;
  --hover-color: #5430d1;
  --secondary-color: #fff;
  --header-text: "Inter", sans-serif;
  --body-text: "Inter", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  scroll-behavior: smooth;
}
.overflow {
  overflow: hidden;
}
