.contact {
  max-width: 580px;
  width: 100%;
  padding: 16px;
  background: #fff;
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
  box-shadow: 0px 8px 20px rgba(110, 139, 183, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .contact_info {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    .contact_txt {
      font-size: 16px;
      line-height: 24px;
      color: #84919a;
    }
  }
  .contact_phone {
    font-size: 16px;
    line-height: 24px;
    color: #303940;
  }
}
